#container-card {
  align-items: center;
  background: url('../images/bg-zelda.jpg');
  background-size: cover;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;  
}

#card {
  background-image: url('../images/bg-triforce.png'),
  linear-gradient(to bottom, #224138 0%, #224138 50%, #224138 100%);
  background-position: center center;
    background-position-x: center;
    background-position-y: center;
    background-size: 2.5rem, cover;
  display: flex;
  flex-direction: column;
  width: 274px;
  min-height: 61.5%;
}

.card-border {
  border: 2px solid #bea96e;
  height: 100%;
  padding: 0.3%;
}

.last-border {
  border: 5px solid #bea96e;
  height: 97%;
  margin: 1px 1px 1px 1px;
}

.last-border > h2 {
  align-items: center;
  border-bottom: none;
  color: white;
  display: flex;
  height: 35px;
  justify-content: right;
  padding: 0 10px;
}

.last-border > img {
  border: 1px solid #bea96e;
  font-size: 0;
  height: 150px;
  margin: 0 5px;
  padding: 1px;
  text-align: center;
  width: 242px;
}

.desc {
  background-color: rgba(255, 255, 255, 0.103);
  color: white;
  display: flex;
  align-items: center;
  font-size: 12px;
  text-align: justify;
  padding: 1% 3%;
  height: 100px;
  margin: 2px 5px;
}

.attr {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  min-height: 80px;
}

.attr > p {
  text-align: center;
  background-color: #bea96e;
  margin: 2px 5px;
  padding: 1% 2%;
  letter-spacing: 1.8px;
  font-size: 13px;
}

.rare {
  color: white;
  margin-right: 10px;
  text-align: right;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 800;
}

.super-trunfo {
  margin-left: 10px;
  color: white;
}